@font-face {
  font-family: PS;
  src: url(./assets/fonts/Product\ Sans\ Regular.ttf);
}

:root {
  --primary-bgc-linear: linear-gradient(to right, #14b8a6, #06b6d4);
  --secondary-bgc-color: #14b8a6;
  --primary-text-color: black;
  --secondary-text-color: white;
  --third-text-color: #0d9488;
  --hover-color: linear-gradient(to right, #14b8a6, #0891b2);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: PS;
  font-weight: 500;
}

html,
body {
  width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  width: 100%;
  background-color: var(--primary-bgc-linear);
}

::-webkit-scrollbar-thumb {
  width: 5px;
  height: 50px;
  background-color: var(--secondary-bgc-color);
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.hover-gradient-text:hover {
  background: var(--hover-color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s ease-in-out;
}

.hover-gradient:hover {
  background: var(--hover-color);
}

/* Navbar Section */

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.7rem 13rem;
  align-items: center;
}

.logo a {
  font-size: 1.3rem;
  font-weight: 800;
}

.nav-sec > ul {
  display: flex;
  gap: 40px;
}

.nav-sec > ul li {
  list-style: none;
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: var(--primary-text-color);
  cursor: pointer;
}

.nav-toggle i {
  color: var(--secondary-text-color);
}

.nav-btn > a {
  padding: 8px 18px;
  background: var(--primary-bgc-linear);
  color: var(--secondary-text-color);
  border-radius: 4px;
}

/* Hero Section  */

.home-container {
  margin-top: 10%;
  max-width: 1110px;
  margin-inline: auto;
  display: flex;
  align-items: center;
}

.home-container .wrapper {
  display: flex;
  align-items: center;
  gap: 80px;
}

.wrapper .social-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.social-links i {
  font-size: 20px;
  background: var(--primary-bgc-linear);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.myself {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 55%;
}

.myself-text h1 {
  font-size: 2.7rem;
  margin-bottom: 5px;
}

.myself-text h3 span {
  color: var(--secondary-bgc-color);
  font-weight: 600;
}

.myself-about {
  width: 80%;
}

.myself-btn a {
  padding: 12px 18px;
  background: var(--secondary-bgc-color);
  /* color: var(--secondary-text-color); */
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;

  background: rgba(20, 184, 166, 0.21);
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(20, 184, 166, 0.3);
}

.myself-btn a i {
  font-size: 17px;
}

.home-container .pic {
  height: 300px;
  width: 300px;
  background-color: var(--third-text-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.pic img {
  height: 100%;
  object-fit: cover;
}

/* About Me Section  */

.about-container {
  margin-top: 10%;
  max-width: 1140px;
  margin-inline: auto;
}

.about-container .about-dets {
  margin-inline: auto;
  max-width: 50%;
  text-align: center;
}

.about-dets h2 {
  margin: 20px;
  font-weight: 600;
  font-size: 2rem;
  color: var(--primary-text-color);
}

.about-dets p {
  color: rgb(69, 69, 69);
}

/* Skill Section */

.skill-container {
  max-width: 1140px;
  margin-inline: auto;
  margin-top: 10%;
}

.skill-container > h2 {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}

.skill-container .skill-child {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin-top: 2rem;
}

.skill-container .skill-avatar {
  width: 40%;
}

.skill-avatar svg {
  animation: anim 3s linear infinite;
} 

.skill-container .skill-list {
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 4rem 3rem;
}

.skill-name {
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skill-name .skill-circ {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-circ img {
  height: 50%;
  object-fit: cover;
}

.skill-name h5 {
  text-align: center;
}

#skill1 {
  background-color: #fff3f1;
}

#skill2 {
  background-color: #dee8ef;
}

#skill3 {
  background-color: #fdf7d2;
}

#skill4 {
  background-color: #edfcfd;
}

#skill4 > img {
  height: 70%;
}

#skill5 {
  background-color: #fbf4f4;
}

#skill6 {
  background-color: #efe9fa;
}

#skill7 {
  background-color: #e8fdf4;
}

#skill7>img {
  height: 70%;
}

#skill8 {
  background-color: #fce8e4;
}

#skill9 {
  background-color: #dee8ef;
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}
